
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://rawgit.com/Jesus-E-Rodriguez/cityscapes-landing-page/master/css/styles.css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="https://rawgit.com/Jesus-E-Rodriguez/cityscapes-landing-page/master/js/astonish.js"></script>
    <script defer src="https://rawgit.com/Jesus-E-Rodriguez/cityscapes-landing-page/master/js/menu.js"></script>
    <script defer src="https://rawgit.com/Jesus-E-Rodriguez/cityscapes-landing-page/master/js/nav.js"></script>
    <script defer src="https://rawgit.com/Jesus-E-Rodriguez/cityscapes-landing-page/master/js/scroll.js"></script>

    <link rel="stylesheet" href="style.css">
   <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <title>Login page</title>
</head>
<style>

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }



  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url("http://codingstella.com/wp-content/uploads/2024/01/download-8-scaled.jpeg")
      no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
  }
  
  .inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
  }
  
  .inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
  }
  
  input:focus ~ label {
    top: -5px;
  }
  input:valid ~ label {
    top: -5px;
  }
  
  .inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
  }
  
  .inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
  }
  
  .forget {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 15px;
    font-size: 0.9em;
    color: #fff;
  }
  
  .forget label:nth-child(2) {
    order: 1;
  }
  
  .forget label {
    display: flex;
    align-items: center;
  }
  
  .forget label input[type="checkbox"] {
    margin-right: 6px;
  }
  
  .forget label a {
    color: #fff;
    text-decoration: none;
  }

  .forget label a:hover {
    text-decoration: underline;
  }

  button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
  }

  button:hover{
      transition: 0.5s;
      box-shadow: 6px 8px 50px rgb(0, 255, 255);
    }

  .register {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
  }

  .register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }

  .register p a:hover {
    text-decoration: underline;
  }

</style>
<body>

  <nav class="main-nav" id="main-nav">
    <div class="content-wrapper-sm">
     <a href="#" class="navbar-brand"><span>EVEREST </span><span style="color: rgb( 255, 200, 110);">EVOLUTION</span></a>
     <div id="menu-button">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
     </div>
     <ul class="nav-links">
      <li><a href="/home">HOME</a></li>
      <li><a href="/career">CAREERS</a></li>
      <li><a href="/portfolio">PORTFOLIO</a></li>
      <li><a href="/glovery">GLOVERY</a></li>
      <li><a class="button" href="/signup">SIGNUP</a></li>
      <li><a class="button" href="/login">LOGIN</a></li>
     </ul>
    </div>
   </nav>
   
  <div class="wrapper">
    <section>
      <div class="form-box">
        <div class="form-value">
          <form>
            <h2>Login</h2>
            <div class="inputbox">
              <ion-icon name="mail-outline"></ion-icon>
              <input type="email" name="email" required>
              <div class="email error" style="color: red;"></div>
              <label for="">Email</label>
            </div>
            <div class="inputbox">
              <ion-icon name="lock-closed-outline"></ion-icon>
              <input type="password" name="password" required>
              <div class="password error" style="color: red;"></div>
              <label for="">Password</label>
            </div>
            <div class="forget">
              <label>
                <a href="#">Forgot password?</a>
              </label>
            </div>
            <button>Login</button>
            <div class="register">
              <p>Don't have an account ? <a href="/signup">Signup</a></p>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>

  <script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async(e) => {
      e.preventDefault();

      emailError.textContent = "";
      passwordError.textContent = "";

      const email = form.email.value;
      const password = form.password.value;

    
            try {
        const res = await fetch('/login', {
          method: 'POST',
          body: JSON.stringify({ email, password }),
          headers: { 'Content-Type': 'application/json' }
        });
        const data = await res.json();
        console.log(data);
        if(data.errors) {
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
        }
         if(data.user) {
          location.assign('/home');
         }
        } catch (err) {
          console.log(err);
        }


    });
  </script>

</body>
</html>